<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Admin</title>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">

        <meta http-equiv = "refresh" content = "5">


        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        
    </head>
    <body>
        <div class = "container-fluid">
            <div class = "row bg-dark text-white">
                <h1>Mail Services</h1>
            </div>
            <div class = "row">
                <table class = "table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>E-mail</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in all_users:%}
                        <tr>
                            <td>{{user["user_id"]}}</td>
                            <td>{{user["user_name"]}}</td>
                            <td>{{user["user_email"]}}</td>
                            {% if user["user_status"] == 1 %}
                                <td class = "text-success">online</td>
                            {% else%}
                                <td class = "text-secondary">offline</td>
                            {% endif %}

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </body>
</html>