<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Admin</title>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1"> 

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        
    </head>
    <body>
        <div class = "container-fluid">
            <div class = "row bg-dark text-white">
                <h1>Mail Services</h1>
            </div>
            <div class = "row">
                <table class = "table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>E-mail</th>
                            <th><a href = "#" class = "text-primary" id = "statusButton">Status</a></th>
                            <th><a href = "#" class = "text-primary" id = "showAuthorizationButton">Show Authorization</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in all_users:%}
                        <tr>
                            <td>{{user["user_id"]}}</td>
                            <td>{{user["user_name"]}}</td>
                            <td id = "userMail">{{user["user_email"]}}</td>
                            {% if user["user_status"] == 1 %}
                                <td class = "text-success" id = "userStatus">online</td>
                            {% else %}
                                <td class = "text-secondary" id = "userStatus">offline</td>
                            {% endif %}
                            {% if user["user_authorized"] == True %}
                                <td><a href = "{{url_for('admin_bp.admin_unauthorize', user_mail = user['user_email'])}}" class = "btn btn-danger btn-sm" id = "authorizationButton" style = "display: none;">unauthorize</a></td>
                            {% else %}
                                <td><a href = "{{url_for('admin_bp.admin_authorize', user_mail = user['user_email'])}}" class = "btn btn-success btn-sm" id = "authorizationButton" style = "display: none;">authorize</a></td>
                            {% endif %}
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <script>

            let clicked = true;
            let showAuthorizationButton = document.querySelector("#showAuthorizationButton");
            document.querySelector("#showAuthorizationButton").addEventListener("click", () => {

                let authBtns = document.querySelectorAll("#authorizationButton");
                $("a#authorizationButton").fadeToggle();

                if(clicked)
                {
                    showAuthorizationButton.innerHTML = "Hide Authorization";
                    clicked = false;
                }else
                {
                    showAuthorizationButton.innerHTML = "Show Authorization";
                    clicked = true;
                }

            });

        </script>

        <script>

        setInterval(getUsersStatus, 5000);
        function getUsersStatus()
        {
            let userStatus = document.querySelectorAll("#userStatus");
            let xhttp = new XMLHttpRequest();            
            xhttp.onreadystatechange = function()
            {
                if(this.readyState == 4 && this.status == 200)
                {
                    serverStatusRespond = JSON.parse(this.responseText);
                    
                    for(let i=0;i<userStatus.length;i++)
                    {
                        if(serverStatusRespond[i] == true)
                        {
                            userStatus[i].innerHTML = "online";
                            userStatus[i].className = "text-success";
                        }else{
                            userStatus[i].innerHTML = "offline";
                            userStatus[i].className = "text-secondary";
                        }
                    }
                }
            };
            xhttp.open("GET", "{{url_for('admin_bp.check_status')}}", true);
            xhttp.send();
        }  
        </script>
    </body>
</html>