<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Edit Profile</title>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


        <style>
            .card{
                margin-top: 20px;
            }
            .card-body{
                margin: 10px;
            }
            .form-control{
                margin: 5px;
            }
        </style>
    </head>
    <body>
        <div class = "container-fluid">
        <div class = "row bg-dark text-white">
            <h2>Mail Services</h2>
        </div>
        <div>
            <ul class = "nav nav-justified bg-light">
                
                <li class = 'nav-item'>
                    <a href = "{{url_for('user_mail_bp.compose_email')}}" class = 'nav-link'>Compose Email</a>
                </li>
                <li class = 'nav-item'>
                    <a href = "{{url_for('user_mail_bp.see_inbox')}}" class = 'nav-link'>Inbox</a>
                </li>
                <li class = 'nav-item'>
                    <a href = "{{url_for('user_mail_bp.trash')}}" class = 'nav-link'>Trash</a>
                </li>
                <li class = 'nav-item'>
                    <a href = "{{url_for('user_mail_bp.see_outbox')}}" class = 'nav-link'>Outbox</a>
                </li>
                <li class = 'nav-item'>
                    <a href = "{{url_for('user_mail_bp.see_all_mail')}}" class = 'nav-link'>All Mail</a>
                </li>
                <li class = 'nav-item'>
                    <a href = "{{url_for('user_profile_bp.view_profile')}}" class = 'nav-link'>View Profile</a>
                </li>
                <li class = 'nav-item'>
                    <a href = "{{url_for('user_profile_bp.edit_profile_form')}}" class = 'nav-link'>Edit Profile</a>
                </li>
                <li class = 'nav-item'>
                    <a href = "{{url_for('user_profile_bp.view_all_users')}}" class = 'nav-link'>View All Users</a>
                </li>
                <li class = 'nav-item'>
                    <a href = "{{url_for('user_profile_bp.logout')}}" class = 'nav-link'>Logout</a>
                </li>
                <li class = 'nav-item'>
                    <a href = "{{url_for('user_profile_bp.delete_account')}}" class = 'nav-link'>Delete Account</a>
                </li>
                <li class = 'nav-item'>
                    <a href = '#' class = 'nav-link'>Contact US</a>
                </li>
            </ul>
        </div>
        <div class = "row">
            <div class = "col-10">
                <input type = "text" class = "form-control" id = "user_input" placeholder = "Search Email..." style = "margin-top: 20px;margin-bottom: 20px;">
            </div>
            <div class = "col-2">
                <button class = "btn btn-primary" id = "addReceiversButton" style = "margin-top: 20px;">Add Recivers</button>
            </div>
        </div>

        <table class = "table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>EMAIL</th>
            </tr>
            </thead>
            <tbody>
            {%for user in allUsers:%}
                <tr id = "notChose">
                    <td id = "userID">{{user[0]}}</td>
                    <td id = "userName">{{user[1]}}</td>
                    <td id = "userMail"><a href = "{{url_for('user_mail_bp.compose_to_email', user_mail = user[2])}}">{{user[2]}}</a></td>
                </tr>          
            {%endfor%}
            </tbody>
        </table>
        <div class = "row" style = "height: 300px;">
            <div class = "col">
                <button class = "btn btn-primary" id = "selectAll" style = "display:none;">Select All</button>
            </div>
            <div class = "col">
                <button class = "btn btn-primary" id = "done" style = "display: none;">Done</button>
            </div>
        </div>
        </div>
    </body>
    <script>

        let allowSelection = false;
        let receivers = [];
        let selectAllClicked = false;

       document.getElementById("addReceiversButton").addEventListener("click", () => {
           allowSelection = true;
           document.getElementById("selectAll").style.display = "block";
           document.getElementById("done").style.display = "block";

        });

        document.getElementById("selectAll").addEventListener("click", () => {

            if(selectAllClicked)
            {
                let allUsers = document.querySelectorAll("#userMail");
                for(let i=0;i<allUsers.length;i++)
                {
                    receivers.push(allUsers[i].firstChild.innerHTML);
                }

                let links = document.getElementsByTagName("a");
                for(let i=0;i<links.length;i++)
                {
                    links[i].className = "text-white";
                }
                document.querySelector("tbody").className = "bg-primary text-white";
                selectAllClicked = false;
                document.getElementById("selectAll").innerHTML = "cancel";
                
            }else{
                receivers = [];
                document.getElementById("selectAll").innerHTML = "Select All";
                selectAllClicked = true;
                document.querySelector("tbody").className = "";
            }



        });

        document.querySelector("tbody").addEventListener("click", (event) => {

            if(allowSelection)
            {
                let tr = event.target.parentNode;
                if(tr.id === "notChose")
                {
                    tr.id = "chose";
                    tr.className = "bg-primary text-white";
                    tr.childNodes[5].childNodes[0].className = "bg-primary text-white";
                    receivers.push(tr.childNodes[5].childNodes[0].innerHTML);
                }else{
                    tr.id = "notChose";
                    tr.className = "";
                    let link = tr.childNodes[5].childNodes[0];
                    link.className = "";
                    for(let i=0;i<tr.childNodes.length;i++)
                    {
                        if(link.innerHTML == receivers[i])
                        {
                            receivers.splice(i,1);
                        }
                    }

                }

            }




        })


    </script>
    </html>