<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Edit Profile</title>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


        <style>
            .card{
                margin-top: 20px;
            }
            .card-body{
                margin: 10px;
            }
            .form-control{
                margin: 5px;
            }
        </style>
    </head>
    <body>
        <div class = "container-fluid">
        <div class = "row bg-dark text-white">
            <h2>Mail Services</h2>
        </div>
        <div style = "margin-bottom: 20px;">
            <ul class = "nav nav-justified bg-light">
                <li class = 'nav-item'>
                    <a href = "{{url_for('forms_bp.login_form_page')}}" class = 'nav-link'>HomePage</a>
                </li>
                <li class = 'nav-item'>
                    <a href = "{{url_for('user_mail_bp.compose_email')}}" class = 'nav-link'>Compose Email</a>
                </li>
                <li class = 'nav-item'>
                    <a href = "{{url_for('user_mail_bp.see_inbox')}}" class = 'nav-link'>Inbox</a>
                </li>
                <li class = 'nav-item'>
                    <a href = "{{url_for('user_mail_bp.trash')}}" class = 'nav-link'>Trash</a>
                </li>
                <li class = 'nav-item'>
                    <a href = "{{url_for('user_mail_bp.see_outbox')}}" class = 'nav-link'>Outbox</a>
                </li>
                <li class = 'nav-item'>
                    <a href = "{{url_for('user_profile_bp.view_profile')}}" class = 'nav-link'>View Profile</a>
                </li>
                <li class = 'nav-item'>
                    <a href = "{{url_for('user_profile_bp.edit_profile_form')}}" class = 'nav-link'>Edit Profile</a>
                </li>
                <li class = 'nav-item'>
                    <a href = "{{url_for('user_profile_bp.view_all_users')}}" class = 'nav-link'>View All Users</a>
                </li>
                <li class = 'nav-item'>
                    <a href = "{{url_for('user_profile_bp.logout')}}" class = 'nav-link'>Logout</a>
                </li>
                <li class = 'nav-item'>
                    <a href = "{{url_for('user_profile_bp.delete_account')}}" class = 'nav-link'>Delete Account</a>
                </li>
                <li class = 'nav-item'>
                    <a href = '#' class = 'nav-link'>Contact US</a>
                </li>
            </ul>
        </div>
        <input type = "text" class = "form-control" id = "user_input" placeholder = "Search Email..." style = "margin-top: 20px;margin-bottom: 20px;">
        <table class = "table table-striped">
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>EMAIL</th>
            </tr>
            {%for user in allUsers:%}
                <tr>
                    <td id = "userID">{{user[0]}}</td>
                    <td id = "userName">{{user[1]}}</td>
                    <td id = "userMail"><a href = "{{url_for('user_mail_bp.compose_to_email', user_mail = user[2])}}">{{user[2]}}</a></td>
                </tr>          
            {%endfor%}
        </table>
        </div>
    </body>
    <script>

        let inputField = document.getElementById("user_input");
        inputField.addEventListener("keyup", filterNames);
        function filterNames()
        {
            let allMail = document.querySelectorAll("#userMail");
            let allids = document.querySelectorAll("#userName");
            let allNames = document.querySelectorAll("#userID");

            for(let i=0;i<allMail.length;i++)
            {
                if(allMail[i].getElementsByTagName("a")[0].innerHTML.toUpperCase().indexOf(inputField.value.toUpperCase()) > -1)
                {
                    allMail[i].style.display = '';
                    allids[i].style.display = '';
                    allNames[i].style.display = '';
                }else{
                    allMail[i].style.display = 'none';
                    allids[i].style.display = 'none';
                    allNames[i].style.display = 'none';
                }
            }
        }
        
    </script>
    </html>