<html>
    <head>
        <title>{{user.get_name()}}</title>
        <link rel = "stylesheet" href = "{{url_for('static', filename = 'css/basic_layout.css')}}">
    </head>
    <body>
        <div id = "headerBar">
            <h2>Mail Services</h2>
        </div>
        <div id = "navBar">
            <ul>
                <li><a href = '/'>HomePage</a></li>
                <li><a href = '/composeEmail'>Compose Email</a></li>
                <li><a href = '/inbox'>Inbox</a></li>
                <li><a href = '/trash'>Trash</a></li>
                <li><a href = '/outbox'>Outbox</a></li>
                <li><a href = '/View profile'>View Profile</a></li>
                <li><a href = '/EditProfileForm'>Edit Profile</a></li>
                <li><a href = '/allUsers'>View All Users</a>
                <li><a href = '/logout'>Logout</a></li>
                <li>Contact US</li>
            </ul>
        </div>
        <table>
            <tr><td>Name: </td><td>{{user.get_name()}}</td></tr>
            <tr><td>Email: </td><td>{{user.get_email()}}</td></tr>
            <tr><td>Gender: </td><td>{{user.get_gender()}}</td></tr>
            <tr><td>Date of Birth: </td><td>{{user.get_dateOfBirth()}}</td></tr>
            <tr><td>City: </td><td>{{user.get_city()}}</td></tr>
            <tr><td>Country: </td><td>{{user.get_country()}}</td></tr>
            <tr><td>Contact: </td><td>{{user.get_contact()}}</td></tr>
        </table>
    </body>
</html>
