<!DOCTYPE html>
<html lang = 'en'>
    <head>
        <title>INBOX</title>
        

        <meta charset = 'UTF-8'>
        <meta name = 'viewport' content = 'width = device-width, initial-scale = 1'>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        


    </head>
<body>
    <div class = "container-fluid">
        <div class = "row text-white bg-dark">
            <h1>Mail Services</h1>
        </div>
        <div>
            <ul class = "nav nav-justified bg-light">
                
                <li class = 'nav-item'>
                    <a href = "{{url_for('user_mail_bp.compose_email')}}" class = 'nav-link'>Compose Email</a>
                </li>
                <li class = 'nav-item'>
                    <a href = "{{url_for('user_mail_bp.see_inbox')}}" class = 'nav-link'>Inbox</a>
                </li>
                <li class = 'nav-item'>
                    <a href = "{{url_for('user_mail_bp.trash')}}" class = 'nav-link'>Trash</a>
                </li>
                <li class = 'nav-item'>
                    <a href = "{{url_for('user_mail_bp.see_outbox')}}" class = 'nav-link'>Outbox</a>
                </li>
                <li class = 'nav-item'>
                    <a href = "{{url_for('user_mail_bp.see_all_mail')}}" class = 'nav-link'>All Mail</a>
                </li>
                <li class = 'nav-item'>
                    <a href = "{{url_for('user_profile_bp.view_profile')}}" class = 'nav-link'>View Profile</a>
                </li>
                <li class = 'nav-item'>
                    <a href = "{{url_for('user_profile_bp.edit_profile_form')}}" class = 'nav-link'>Edit Profile</a>
                </li>
                <li class = 'nav-item'>
                    <a href = "{{url_for('user_profile_bp.view_all_users')}}" class = 'nav-link'>View All Users</a>
                </li>
                <li class = 'nav-item'>
                    <a href = "{{url_for('user_profile_bp.logout')}}" class = 'nav-link'>Logout</a>
                </li>
                <li class = 'nav-item'>
                    <a href = "{{url_for('user_profile_bp.delete_account')}}" class = 'nav-link'>Delete Account</a>
                </li>
                <li class = 'nav-item'>
                    <a href = '#' class = 'nav-link'>Contact US</a>
                </li>
            </ul>
        </div>
    <div>
        <h4>Compose Message</h4>
        <form action = "http://localhost:5000/sending-mail" method="POST" enctype="multipart/form-data">
            <div class = "form-group">
                <label for = "receiverField">To: </label>
                <input type = 'email' name = "reciever" id = "receiverField"placeholder="reciever..." value = "{{to}}" class = "form-control" required>
            </div>
            <div class = "form-group">
            <label for = "subjectField">Subject: </label>
            <input type = 'text' name = 'subject' id = "subjectField" placeholder="subject..." class = "form-control" autocomplete = "off" required><br><br>
            </div>
            <div class = "form-group">
                <label for = "messageField">Message:</label>
                <textarea name = 'mailInfo' id = "messageField"cols = '50' rows = '10'  class = "form-control"></textarea><br>
            <div class = "form-group">
                <label id = "errorMessage" class = "text-danger"></label>
                <div class = "custom-file" style = "margin-bottom: 20px;">
                <input type = "file" name = "user_files" class = "custom-file-input" id = "custom_file" multiple>
                <label class = "custom-file-label" for = "custom_file">Choose File</label>
                </div>
        <input type = 'submit' value = 'send' class = "btn btn-primary" style = "margin-bottom: 20px;">
        </form>
    </div>


        {% with messages = get_flashed_messages(category_filter = ["danger"])%}
            {% if messages %}
                {% for message in messages%}
                    <script>
                            let message = "Error!!! {{message}}";
                            document.getElementById("errorMessage").innerHTML = message;
                            console.log("{{message}}");
                    </script>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </body>
    <script>
        $(".custom-file-input").on("change", function(){
            var file_name = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(file_name);
        });

        
    </script>
</html>