<html>
    <head>
        <title>INBOX</title>
        <link rel = "stylesheet" href = "{{url_for('static', filename = 'css/mail_layout.css')}}">
        <link rel = "stylesheet" href = "{{url_for('static', filename = 'css/basic_layout.css')}}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
        
    </head>
<body>
    <div id = "headerBar">
        <h2>Mail Services</h2>
    </div>
    <div id = "navBar">
        <ul>
            <li><a href = '/'>HomePage</a></li>
            <li><a href = '/composeEmail'>Compose Email</a></li>
            <li><a href = '/inbox'>Inbox</a></li>
            <li><a href = '/trash'>Trash</a></li>
            <li><a href = '/outbox'>Outbox</a></li>
            <li><a href = '/View profile'>View Profile</a></li>
            <li><a href = '/EditProfileForm'>Edit Profile</a></li>
            <li><a href = '/allUsers'>View All Users</a>
            <li><a href = '/logout'>Logout</a></li>
            <li><a href = '/delete-account'>Delete Account</a></li>
            <li>Contact US</li>
        </ul>
    </div>
    <div>
        {%for mail in inbox_mails%}
        <div>
            <p style = "margin-left:20px;">{{mail['sender_mail']}}
                        <strong style = "margin-left: 20px;">{{mail['mail_subject']}}</strong></p>
                    {{mail['mail_id']}}
                    </div>
        {%endfor%}
       <ul>
           <li>

           </li>
       </ul>

    </div>
</body>
</html>