<!DOCTYPE html>
<html lang = 'en'>
    <head>
        <title>INBOX</title>
        

        <meta charset = 'UTF-8'>
        <meta name = 'viewport' content = 'width = device-width, initial-scale = 1'>
        <meta http-equiv="refresh" content="30">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        
    </head>
<body>

    <div class = "container-fluid">
        <div class = "row text-white bg-dark">
            <h1>Mail Services</h1>
        </div>
        <div>
            <ul class = "nav nav-justified bg-light">
                
                <li class = 'nav-item'>
                    <a href = "{{url_for('user_mail_bp.compose_email')}}" class = 'nav-link'>Compose Email</a>
                </li>
                <li class = 'nav-item'>
                    <a href = "{{url_for('user_mail_bp.see_inbox')}}" class = 'nav-link'>Inbox</a>
                </li>
                <li class = 'nav-item'>
                    <a href = "{{url_for('user_mail_bp.trash')}}" class = 'nav-link'>Trash</a>
                </li>
                <li class = 'nav-item'>
                    <a href = "{{url_for('user_mail_bp.see_outbox')}}" class = 'nav-link'>Outbox</a>
                </li>
                <li class = 'nav-item'>
                    <a href = "{{url_for('user_mail_bp.see_all_mail')}}" class = 'nav-link'>All Mail</a>
                </li>
                <li class = 'nav-item'>
                    <a href = "{{url_for('user_profile_bp.view_profile')}}" class = 'nav-link'>View Profile</a>
                </li>
                <li class = 'nav-item'>
                    <a href = "{{url_for('user_profile_bp.edit_profile_form')}}" class = 'nav-link'>Edit Profile</a>
                </li>
                <li class = 'nav-item'>
                    <a href = "{{url_for('user_profile_bp.view_all_users')}}" class = 'nav-link'>View All Users</a>
                </li>
                <li class = 'nav-item'>
                    <a href = "{{url_for('user_profile_bp.logout')}}" class = 'nav-link'>Logout</a>
                </li>
                <li class = 'nav-item'>
                    <a href = '#' class = 'nav-link'>Contact US</a>
                </li>
            </ul>
        </div>
        <div class = "row">
            <h2>Inbox</h2>
        </div>  
    <div>
        {% with messages = get_flashed_messages(category_filter = ["welcoming_user"]) %}
            {% if messages %}
                {% for message in messages %}
                <div class = "modal fade" role = "dialog" id = "welcomeModal">
                    <div class = "modal-dialog modal-lg">
                        <div class = "modal-content">
                            <div class = "modal-header">
                                <h2>Welcome <span class = "text-success">{{message}}</span></h2>
                                    <button class = "close" data-dismiss = "modal">&times;</button>
                            </div>
                            <div class = "modal-dialog">
                                <p>Hi, <span class = "text-success">{{message}}</span><br>
                                Welcome to company Mailer.<br>
                                This application allows you to send and receive E-mails from all over<br>
                                the employees working in this company. You can see your inbox, outbox, trash and all mails.<br>
                                To use any option of these you can access them from the navigation bar at the top of the page and <br>
                                navigate through the application.<br>
                                If there is any problem go to the contact us page and contact the admin.<br>
                                Wish you a good exprience, have a nice day.
                                </p>
                            </div>
                            <div class = "modal-footer">
                                <button class = "btn btn-primary" data-dismiss = "modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
       <ul class = "list-group list-group-flush">
        {%for mail in inbox_mails%}
           <li class = "list-group-item">
               <p style = 'padding-bottom: 10px;'>
                {% if mail['mail_seen']%}
                <span class = 'badge badge-dark' style = 'display:inline;'>inbox</span>
                {% else %}
                    <span class = 'badge badge-danger'>inbox</span>
                {% endif %}
                <strong style = "margin-left: 20px;"> {{mail['sender_mail']}}</strong>
                <span style = 'margin-left: 50px;margin-right:50px;' id = "mailSubject">{{mail['mail_subject']}}</span> 
                <a href = "{{url_for('user_mail_bp.inbox_to_trash', mail_id = mail['mail_id'])}}" class = "btn btn-primary float-right" style = "margin-left: 10px;">Trash</a>
                <a href = "{{url_for('user_mail_bp.view_mail', mail_id = mail['mail_id'])}}"
                 class = "btn btn-primary float-right" style = "display:inline;">View mail</a>
                <strong style = 'margin-right:100px;' class = "float-right">{{mail['mail_date']}}</strong>
                </p>
           </li>
           {%endfor%}
       </ul>
    </div>
    <script src = "{{url_for('static', filename = 'js/subjectShortner.js')}}"></script>
    <script>
        document.querySelector("body").onload = () => {
            $("#welcomeModal").modal();
        }
    </script>
</body>
</html>