<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>View Mail</title>

        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class = "container-fluid">
            <div class = "row bg-dark text-white">
                <h1>Mail Services</h1>
            </div>
            <div>
                <ul class = "nav nav-justified bg-light">
                    
                    <li class = 'nav-item'>
                        <a href = "{{url_for('user_mail_bp.compose_email')}}" class = 'nav-link'>Compose Email</a>
                    </li>
                    <li class = 'nav-item'>
                        <a href = "{{url_for('user_mail_bp.see_inbox')}}" class = 'nav-link'>Inbox</a>
                    </li>
                    <li class = 'nav-item'>
                        <a href = "{{url_for('user_mail_bp.trash')}}" class = 'nav-link'>Trash</a>
                    </li>
                    <li class = 'nav-item'>
                        <a href = "{{url_for('user_mail_bp.see_outbox')}}" class = 'nav-link'>Outbox</a>
                    </li>
                    <li class = 'nav-item'>
                        <a href = "{{url_for('user_mail_bp.see_all_mail')}}" class = 'nav-link'>All Mail</a>
                    </li>
                    <li class = 'nav-item'>
                        <a href = "{{url_for('user_profile_bp.view_profile')}}" class = 'nav-link'>View Profile</a>
                    </li>
                    <li class = 'nav-item'>
                        <a href = "{{url_for('user_profile_bp.edit_profile_form')}}" class = 'nav-link'>Edit Profile</a>
                    </li>
                    <li class = 'nav-item'>
                        <a href = "{{url_for('user_profile_bp.view_all_users')}}" class = 'nav-link'>View All Users</a>
                    </li>
                    <li class = 'nav-item'>
                        <a href = "{{url_for('user_profile_bp.logout')}}" class = 'nav-link'>Logout</a>
                    </li>
                    <li class = 'nav-item'>
                        <a href = "{{url_for('user_profile_bp.contact_us')}}" class = 'nav-link'>Contact US</a>
                    </li>
                </ul>
            </div>
        <div class = "row">      
            <div class = "col-2">
            </div>
            <div class = "modal fade" role = "dialog" id = "myModal">
                <div class = "modal-dialog modal-lg">
                    <div class = "modal-content">
                        <div class = "modal-header">
                            <button class = "close" data-dismiss = "modal">&times;</button>
                        </div>
                        <div class = "modal-body">
                            <strong>You can't view Excel files here, you have to download it.</strong>
                        </div>
                        <div class = "modal-footer">
                            <button type = "button" class = "btn btn-primary" data-dismiss = "modal">OK</button>
                        </div>
                    </div>
                </div>

            </div>
                <div class = "jumbotron mt-4 mr-6" style = "width: 700px;">
                <h5>Subject: {{mail['mail_subject']}}</h5>
                <br>
                <span>From: </span><a href = "{{url_for('user_mail_bp.compose_to_email', user_mail = mail['sender_mail'])}}" style = "color: black;">
                    <strong style = "margin-left: 20px;">{{mail['sender_mail']}}</strong>
                </a>
                <br>
                <span>Date: </span><strong style = "margin-left: 20px;">{{mail['mail_date']}}</strong>
                <span style = "display: block;">Body:</span>
                <p>
                    <strong>{{mail['mail_body']}}</strong>
                </p>
                <br><br><br>
                    <ul class = "list-group">
        
                    {%if mail['attachments']:%}
                        {%for file in mail['attachments']%}
                            {%if ".pdf" in file:%}
                            <li class = "list-group-item">

                            <a href = "{{url_for('user_mail_bp.view_file', file_name = file )}}" id = "pdfFile">
                                <img src = "{{url_for('static', filename = 'images/pdf_icon.jpg')}}"
                                 width = '80px' height = '80px'>
                                </a>
                             </li>
                             <li class = "list-group-item">
                                 {{file}}
                             </li>
                             <li class = "list-group-item" style = "margin-bottom: 20px;">
                             <a href = "{{url_for('user_mail_bp.download_file', file_name = file)}}" class = "btn btn-primary">Download</a>
                             </li>
                        {%else%}
                        <li class = "list-group-item">
                            <a href = "#">
                                <img src = "{{url_for('static', filename = 'images/excel_icon.jpg')}}"
                             width = '80px' height = '80px' data-toggle = "modal" data-target = "#myModal"></a>
                             </li>
                             <li class = "list-group-item">
                                {{file}}
                                </li>
                                <li class = "list-group-item" style = "margin-bottom: 20px;">
                                    <a href = "{{url_for('user_mail_bp.download_file', file_name = file)}}" class = "btn btn-primary">Download</a>
                                </li>
        
                     {%endif%}
                        {%endfor%}
                        
                    {%endif%}
                            </ul>
                </div>
            <div class = "col-3">
            </div>      
        </div>
        
    </body>
</html>