<html>
    <head>
        <title></title>
        <link rel = "stylesheet" href = "{{url_for('static', filename = 'css/basic_layout.css')}}">

    </head>
    <body>
        <div id = "headerBar">
            <h2>Mail Services</h2>
        </div>
        <div id = "navBar">
            <ul>
                <li><a href = '/'>HomePage</a></li>
                <li><a href = '/composeEmail'>Compose Email</a></li>
                <li><a href = '/inbox'>Inbox</a></li>
                <li><a href = '/trash'>Trash</a></li>
                <li><a href = '/outbox'>Outbox</a></li>
                <li><a href = '/View profile'>View Profile</a></li>
                <li><a href = '/EditProfileForm'>Edit Profile</a></li>
                <li><a href = '/allUsers'>View All Users</a>
                <li><a href = '/logout'>Logout</a></li>
                <li>Contact US</li>
            </ul>
        </div>
        <table border = 1>
            <tr>
                <th>Name</th>
                <th>E-mail</th>
                <th>Gender</th>
                <th>Country</th>
            </tr>
            {%for user in allUsers:%}
                <tr>
                    <td>{{user.get_name()}}</td>
                    <td>{{user.get_email()}}</td>
                    <td>{{user.get_gender()}}</td>
                    <td>{{user.get_country()}}</td>
                </tr>          
            {%endfor%}
        </table>
    </body>
    </html>