<html>
    <head>
        <title>Login Page</title>
    </head>
<body>

    <h1>Welcome to mail services</h1>

    <form action = "http://localhost:5000/ValidLogin" method = "POST">
        <fieldset>
            <legend>Login Form</legend>
        <table>
            <caption>Login Form</caption>
            <tr>
                <td>Email: </td><td><input type = "email" name = "email"></td>
            </tr>
            <tr>
                <td>Password: </td><td><input type = "password" name = "password"></td>
            </tr>
            <tr>
                <td><input type = "submit" value = "Login"></td>
                <td><input type = "reset" value = "Reset"></td>
                <td><a href = "/RegisterationForm">SignUP!</a>
            </tr>
            </table>
            </fieldset>

        </form>
</body>
</html>
